form {
  margin-top: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

img {
  width: 50px;
}

.text {
  font-size: 14px;
  margin-top: 2px;
}

.border {
  width: 600px;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 4px;
  display: block;
  margin-top: 30px;
}

.row {
  max-width: 100%;
}
.col-1 {
  width: 10%;
}

/* .sun {
  color: #f9d71c;
  font-size: 32px;
  margin-top: 10px;
} */

.day-of-week {
  margin-top: 20px;
}

.card {
  min-width: 70px;
  text-align: center;
}

.card-title {
  font-size: 14px;
}

/* .card:hover {
  color: #f9d71c;
} */

.footer {
  font-size: 14px;
  margin-top: 2px;
}

.fahrenheit {
  color: black;
  text-decoration: none;
  cursor: default;
}
.celsius {
  color: black;
  text-decoration: none;
  cursor: default;
}

.fahrenheit.hover {
  color: black;
  text-decoration: none;
}
.celsius.hover {
  color: black;
  text-decoration: none;
}
